{% extends 'mhs/base.html' %}
{% block head_tail %}
    <style>
        body {
            background: url("{{ url_for('static', filename='img/noise2.png') }}");
        }

        h4.berita, h4.info-mahasiswa {
            color: #f8f8f8;
        }

        .list-group-berita {
            overflow: auto;
            max-height: 200px;
        }

        .list-group-berita .list-group-item:first-child {
            border-top-right-radius: 0;
        }

        .list-group-berita .list-group-item:last-child {
            border-bottom-right-radius: 0;
        }

        .td-label {
            font-weight: bold;
        }
    .panel-info {
        padding: 1rem;
    }
    .btn-update-info {
        margin-top: 5px;
    }
    </style>
{% endblock %}
{% block content_heading %}
    <div class="row">
        <div class="col-md-9">
            <h4 class="berita">Berita Terbaru</h4>

            <div class="list-group list-group-berita">
                {% for post in posts %}
                    <a href="{{ url_for('post:detail', post_id=post.id) }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ post.judul }}</h4>

                        <p class="list-group-item-text">{{ post.konten|striptags|truncate(150) }}</p>
                    </a>
                {% else %}
                    <a href="#" class="list-group-item">
                        <div class="list-group-item-heading">Tidak ada berita</div>
                        <div class="list-group-item-text">Kosong</div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <h4 class="info-mahasiswa">
                Informasi Mahasiswa
            </h4>

            <div class="panel panel-default panel-info">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail prof-pict"
                             src="{{ g.user.profile.image|default(url_for('static', filename='img/default-account.jpg')) }}"
                             title="{{ g.user.profile.nama|default('Profil') }}">
                    </div>
                    <div class="col-md-8">
                        <table>
                            <tr>
                                <td class="td-label">
                                    Nama
                                </td>
                                <td class="td-label">:</td>
                                <td>{{ g.user.profile.nama }}</td>
                            </tr>
                            <tr>
                                <td class="td-label">No. Induk</td>
                                <td class="td-label">:</td>
                                <td>{{ g.user.no_induk }}</td>
                            </tr>
                            <tr>
                                <td class="td-label">Email</td>
                                <td class="td-label">:</td>
                                <td>{{ g.user.email }}</td>
                            </tr>
                            <tr>
                                <td class="td-label">No. Telpon</td>
                                <td class="td-label">:</td>
                                <td>{{ g.user.profile.no_telpon }}</td>
                            </tr>
                            <tr>
                                <td class="td-label">Tgl. Lahir</td>
                                <td class="td-label">:</td>
                                <td>{{ g.user.profile.tanggal_lahir }}</td>
                            </tr>
                            <tr>
                                <td class="td-label">Alamat</td>
                                <td class="td-label">:</td>
                                <td>{{ g.user.profile.alamat }}</td>
                            </tr>
                        </table>
                        <a href="{{ url_for('update-info', user_id=g.user.id) }}"
                           class="btn btn-default btn-xs btn-update-info">Update Informasi</a>
                        <a href="{{ url_for('change-password', user_id=g.user.id) }}"
                           class="btn btn-danger btn-xs btn-update-info">Ganti Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="list-group tugas">
        {% for tugas in dosen.matakuliah.tugas_set %}
            <a href="{{ url_for('mhs:tugas:detail', tugas_id=tugas.id) }}"
               class="list-group-item">
                <h4 class="list-group-item-heading">{{ tugas.judul }}</h4>

                <p class="list-group-item-text">
                    <i class="glyphicon glyphicon-calendar"></i> {{ tugas.tanggal_terakhir }}
                    |
                    <i class="glyphicon glyphicon-info-sign"></i> {{ tugas.keterangan|striptags|truncate(150)|default('Tidak ada keterangan') }}
                </p>
            </a>
        {% else %}
            <p class="list-group-item">Tidak ada tugas untuk mata kuliah {{ dosen.matakuliah.judul }}</p>
        {% endfor %}
    </div>
{% endblock %}
