{% extends 'mhs/base.html' %}
{% block head_tail %}
    <style>
    body {
        background: url("{{ url_for('static', filename='img/noise2.png') }}");
    }
    h4.berita {
        color: #f8f8f8;
    }
    .list-group-berita {
        overflow: auto;
        max-height: 200px;
    }
    </style>
{% endblock %}
{% block content_heading %}
    <div class="row">
        <div class="col-md-9">
            <h4 class="berita">Berita Terbaru</h4>
            <div class="list-group list-group-berita">
                {% for post in posts %}
                <a href="{{ url_for('blog:detail', post_id=post.id) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ post.title }}</h4>
                    <p class="list-group-item-text">{{ post.konten|striptags|truncate(150) }}</p>
                </a>
                    {% else %}
                    <a href="#" class="list-group-item">Tidak ada berita</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">Info Mahasiswa</div>
    </div>
{% endblock %}
{% block content %}
    <div class="list-group tugas">
        {% for tugas in tugass %}
            <a href="{{ url_for('mhs:tugas:detail', tugas_id=tugas.id) }}"
               class="list-group-item">
                <h4 class="list-group-item-heading">{{ tugas.judul }}</h4>

                <p class="list-group-item-text">
                    <i class="glyphicon glyphicon-calendar"></i> {{ tugas.tanggal_terakhir }}
                    |
                    <i class="glyphicon glyphicon-info-sign"></i> {{ tugas.keterangan|striptags|truncate(150)|default('Tidak ada keterangan') }}
                </p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
