{% extends 'layout.html' %}
{% from 'macro/home.html' import render_form %}
{% block head_tail %}
    <style>
        .container-change-password {
            margin-top: 2rem;
            padding: 2rem;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container container-change-password">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="{{ next_url }}" class="btn btn-default btn-xs">Kembali</a>
                <b>Ganti Password</b>
            </div>
            <div class="panel-body">
                {% set messages = get_flashed_messages(with_categories=True) %}
                {% for cat, message in messages %}
                    {% if cat == 'error' %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                {{ render_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='vendor/ckeditor/ckeditor.js') }}"></script>
    {{ super() }}
{% endblock %}
