{% extends 'admin/_layout.html' %}
{% from 'macro/home.html' import render_field, render_form %}
{% block content %}
    <div class="admin-content-header">
        <a href="{{ url_for('admin:user:list') }}" class="btn btn-default">Kembali</a>
    </div>
    <form action="{{ form.action }}" class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}
        {{ form.profile.hidden_tag() }}
        {{ render_field(form.profile.nama) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.no_induk) }}
        {{ render_field(form.profile.jenis_kelamin) }}
        {{ render_field(form.level) }}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock %}
