<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{% block admin_title %}Admin{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            padding-top: 50px;
            background: url('{{ url_for('static', filename='img/noise2.png') }}');
        }

        .main-content {
            background: #fff;
            padding-top: 10px;
        }
    </style>
    {% block head_tail %}
    {% endblock %}
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group sidebar">
                <a href="{{ url_for('dosen:tugas:list') }}" class="list-group-item">Tugas</a>
                <a href="#" class="list-group-item list-group-item-info disabled">Action</a>
                <a href="{{ url_for('logout') }}" class="list-group-item">Logout</a>
            </div>
        </div>
        <div class="col-md-10 main-content">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% for cat, msg in messages %}
                    {% if cat == 'error' %}
                        <div class="alert alert-danger" role="alert">{{ msg }}</div>
                    {% else %}
                        <div class="alert alert-info" role="alert">{{ msg }}</div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/ckeditor/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
