{% extends 'layout.html' %}
{% from 'macro/home.html' import render_post %}

{% block body %}
    <div class="jumbotron heading">
        <div class="container">
            <h1>CCIT Mojokerto</h1>

            <p>Selamat Datang di situs CCIT Mojokerto</p>
        </div>
    </div>
    <div class="container post-list">
    {% for post in posts %}
        {{ render_post(post) }}
    {% else %}
        Tidak ada berita.
    {% endfor %}
    </div>
{% endblock %}

{% block head_tail %}
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            background: url({{ url_for('static', filename='img/noise2.png') }});
        }

        .heading {
            background: url({{ url_for('static' , filename= 'img/background.jpg') }}) center center;
            background-size: cover;
            color: white;
            text-shadow: 0 0 5px rgba(0, 0, 0, .8);
        }
    .post-list {
        background: #f8f8f8;
        padding:10px;
    }
    </style>
{% endblock %}
