
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
</head>

<body>

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {%- for message in messages %}
            <div class="alert alert-warning alert-dismissable fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <strong>Warning!</strong> {{ message }}
            </div>
        {% endfor -%}
    {% endif %}
    {% endwith %}

    <form class="form-signin" action="{{ url_for('login') }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}

        {{ form.email.label(class_='sr-only') }}
        {{ form.email(class_='form-control', placeholder='Email address') }}
        {{ form.password.label(class_='sr-only') }}
        {{ form.password(class_='form-control', placeholder='Password') }}

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
    </form>
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</div>
</body>
</html>
